body{
    background: url(../assets/images/background.jpg) no-repeat 50% 60%;
    
    overflow: hidden;
}

#browse{
    background: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
}
.panel {
	position: relative;
	height: 100vh;
	padding-top: 1em;
	box-sizing: border-box;
	color: rgba(241, 180, 255, 0.7);
	cursor: default;
}

.browse{
    font-size: 48px;
}

.primary_text{
    text-shadow: 3px 5px rgba(0,0,0,0.3);
    font-size: 58px;
}

.secondary_text{
    font-size: 25px;
    color: #fff;
    margin: 10px 0 10px 0;
}

.secondary_text span {
    color: #00FFC6;
}
.button_browse-link{
    display: block;
    text-decoration: none;
}
.button_browse {
    display: block;
    background-color: transparent;
    color: #00FFC6;
    padding: 12px 20px;
    border: 2px solid #00FFC6;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
    outline: none;
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
    margin: 25px 0 25px 0;
}

.button_browse:hover {
    background-color: #00FFC6;
    color: #fff;
}



.browse-content-container {
    padding-top: 16px;
    padding-bottom: 16px;
    background: #fff;
    -webkit-box-shadow: 13px 6px 51px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 13px 6px 51px 3px rgba(0,0,0,0.75);
    box-shadow: 13px 6px 51px 3px rgba(0,0,0,0.75);
    border-radius: 8px;
    
}

.content-wrapper{
    min-height: 85vh;
}

.item a figure {
    display: block;
    margin: 0;
    padding: 0;
}

.item a figure img{
    width: 100%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: all 268ms ease-out 0s;
}
.item a figure > figcaption {
    position: absolute;
    left: 50%;
    bottom: 25px;
    padding: 8px 16px;
    font-size: 16px;
    width: 50%;
    
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
}

.item a:hover figure img{
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    transition: all 268ms ease-out 0s;
}

.browse{
    color: rgba(116, 106, 106, 0.86);
    outline: none;
    text-align: center;
}

.banner_wrapper{
    font-size 16px;
    top: 50px;
}