* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
    overflow-x: hidden;
  /*
  background: rgba(26,35,126 ,1) url('http://www.beeldengeluid.nl/sites/default/files/styles/grid-4x4/public/0000021070_BeeldenGeluid02_low.jpg') no-repeat center center fixed;
  background-size: cover; */

}



.banner_wrapper{
    background-color: rgba(0,0,0,0.5);
    min-height: 15vh;
    text-align: center;
    line-height: 7;
    
    
}

.banner_link{
    text-decoration: none;
    color: #fff;
    display: block;
    vertical-align: middle;
    margin: auto;
    height: 100%;
    line-height: 7;
}

.banner_icons{
    float: left;
    display: inline-block;
    position: relative;
    top: 6vh;
    margin-left: 50px; 
}

@media screen and (max-width: 960px) {
    .banner_icons{
        float: none;
        margin: 0;
        top: 0;
    }
}










